<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5YrMNP3VC7Pap5e76xrbsoPNvxD3tBRo">
    </script>
  </body>
</html>
